@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700|Maven+Pro:900');

.timer {
	font-family: 'Noto Sans', sans-serif;
	font-size: 40px;
}

.play-timer {
	color: #ff4759;
}

.food-timer {
	color: #ffea30;
	
}

.wash-timer {
	color: #4e8cce;
}

.music-timer {
	color: #000;
}