@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700|Maven+Pro:900');

/* Result Component */
.result {
  font-family: 'Noto Sans', sans-serif;
  width: 400px;
  padding: 3rem 2rem;
  color: #a3a3a3;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  margin-top: 10px;
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
  color: #a3a3a3;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  color: #a3a3a3;
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
  color: #a3a3a3;
  font-size: 3px;
  margin-left: 15px;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
  color: #a3a3a3;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #a3a3a3;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0.5rem 0.5rem;
  font-size: 36px;
  line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: 38px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
  content: '';
  background: #8bc53f url(./../svg/icon-check.svg) no-repeat;
  background-size: 27px;
  border-color: #8bc53f;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}