.container{
    position:absolute;
    width: auto;
    height: auto;
    top: calc(48% - 200px);
    left: calc(50% - 160px);
}

a {
    text-decoration: none;
}

form {
    
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
    color: #512d66;
    margin-bottom: 40px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

p > span {
    padding-top: 3px;
    display: block;
    font-weight: 400;
    font-size: 9px;
}

h3 {
    font-family: 'Dosis';
    font-size: 35px;
    text-transform: uppercase;
    color: rgb(120, 85, 140);
    margin-bottom: 30px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

input,
button{
    outline: none !important; 
}

button.form-btn {
    position: absolute;
    width: 50%;
    height: 60px;
    bottom: 0;
    border: 0;
    font-family: 'Dosis';
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

button.form-btn.sx {
    left: 0;
    border-radius: 0 0 0 5px;
    background-color: rgba(205, 119, 255, 0.35);
    color: #fff;
    transition:all 0.3s linear;
}

button.form-btn.sx:hover {
    background-color:rgba(205, 119, 255, 0.65);
    color: #fff;
}

button.form-btn.sx.back {
    background-color: rgba(0, 0, 0, 0.15);
    transition:all 0.3s linear;
}

button.block {
    width: 100%;
}

button.form-btn.sx.back:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

button.form-btn.dx {
    right: 0;
    border-radius: 0 0 5px 0;
    background-color: rgb(205, 119, 255);
    color: #fff;
}

input {
    border: none;
    border-bottom: 1px solid #9e6fba;
    width: 85%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #9e6fba;
    text-align: center;
    font-size: 17px;
    font-weight:100;
    margin-bottom:25px;
}

::-webkit-input-placeholder {
   color: #b381d1;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:100;
}

:-moz-placeholder {
   color: #b381d1;  
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:100;
}

::-moz-placeholder {
   color: #b381d1;  
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:100;
}

:-ms-input-placeholder {  
   color: #b381d1; 
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:100;
}

.signIn input,
.signUp .w100 {
    width: 100%;
}


.p-button:hover {
    color: #acacac;
}

.signIn{
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
}

.signUp {
    z-index: 2;
    position: absolute;
    text-align: center;
    background: #fff;
    width: 310px;
    height: 470px;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.active-dx{
    animation-name: foregrounding-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.active-sx{
    animation-name: foregrounding-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-dx{
    animation-name: overshadowing-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-sx{
    animation-name: overshadowing-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

@keyframes overshadowing-dx {
    0%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
        z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@keyframes overshadowing-sx {
    0%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
        z-index: 1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@keyframes foregrounding-dx {
    0%{
        z-index:1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        z-index:2;
        transform: perspective(100px) translate3d(400px, 0px, -30px);
    }
    100%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes foregrounding-sx {
    0%{
        z-index:1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        z-index:2;
        transform: perspective(100px) translate3d(-400px, 0px, -30px);
    }
    100%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}