.category-choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.begin-button {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 6%;
    top: 60%;
}

.button{
    cursor: pointer;
    background-color: transparent;
	position: relative;
	height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
	margin: 20px;
	border: 1px solid white;
    border-radius: 15px;
	color: white;
	text-transform: uppercase;
	text-align: center;
    overflow: hidden;
    -webkit-transition: .3s all;
            transition: .3s all;
}
.button p{
	font-size: 40px;
	font-family: 'Amaranth', sans-serif;
	letter-spacing: 2px;
	margin: 0px;
    position: relative;
    z-index: 999;
    -webkit-transition: .3s all;
            transition: .3s all;
}


.button4:hover{
    -webkit-animation-name: button4Animated;
            animation-name: button4Animated;
    -webkit-animation-duration: .1s;
            animation-duration: .1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

}

@-webkit-keyframes button4Animated{
    50%{background-color: white;}   
}
@keyframes button4Animated{
    50%{background-color: white;}   
}

.button-4:before{
    content: "";
    position: absolute;
    height: 150px;
    background-color: white;
    width: 40px;
    left: -60px;
    -webkit-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
            transform: skewX(-15deg);
    -webkit-transition: 0.3s all;
            transition: 0.3s all;
    overflow: hidden;
 }
.button-4:hover:before{
     left: 120%;
 }