@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.centered {
  position:absolute;
  top:54%;
  left:50%;
  transform:translate(-50%, -50%);
}

 
#main-Container {
  width:60vw;
  height:65vh;
  background: white;
  display:flex;
  flex-wrap: nowrap;
  align-items:stretch;
  border-radius:2px;
  overflow:hidden;
  box-shadow:0 0 200px -50px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 8px #888888;
}

#main-Container .half {
  width:30%;
  display:flex;
  flex-direction:column;
}

#main-Container .other-half {
  width:70%;
  display:flex;
  flex-direction:column;
  background-color: #fff;
  color: pink;
}

.half.purple { 
  background: rgb(203, 155, 242);
}
