@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.btn-reset {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 200;
  font-size: 8px;
  background-color: #222;
  padding: 8px 30px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  margin-top: 0px;
  margin-bottom: 15px;
}

.btn-reset span {
  position: relative; 
  z-index: 1;
}

.btn-reset:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 700%;
  width: 140%;
  background: rgb(203, 155, 242);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-reset:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.dropdownTitle{
  margin-top: -10px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}