@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.centered {
  position:absolute;
  top:54%;
  left:50%;
  transform:translate(-50%, -50%);
}
#mainWrapper {
  width:60vw;
  height:65vh;
  background:white;
  display:flex;
  flex-wrap: nowrap;
  align-items:stretch;
  border-radius:2px;
  overflow:hidden;
  box-shadow:0 0 200px -50px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 8px #888888;
}
#mainWrapper .half {
  width:50%;
  display:flex;
  flex-direction:column;
}
.half.purple {
  background: rgb(203, 155, 242);
}
#title {
  color:white;
  flex-grow:0;
  margin:5vmin;
  font-weight:500;
  font-size:2vmin;
}
#preview {
  flex-grow:1;
  display:flex;
  align-items:center;
  justify-content:center;
  display:flex;
  flex-direction:column;
}
#previewText {
  color:white;
  font-size:20vmin;
  font-weight:300;
}
#previewTitle {
  color:white;
  font-size:2vmin;
}
#previewTitle span {
  font-weight:bold;
}
#switchWrapper {
  margin:5vmin;
  display:flex;
  justify-content:center;
  flex-shrink:0;
}
#switchOuter {
  display:block;
  width:8vmin;
  height:4vmin;
  background:#a36dce;
  border-radius:999px;
  position:relative;
}
#switchInner {
  width:3vmin;
  height:3vmin;
  background:#2B85FD;
  border-radius:999px;
  position:absolute;
  top:0.5vmin;
  left:4.5vmin;
}
#settingsWrapper {
  padding:5vmin;
  display:flex;
  flex-direction:column;
  height:60vh;
  justify-content:space-between;
  box-sizing:border-box;
}
.dropdownTitle {
  font-size:2vmin;
  color:#BECACD;
  font-weight:400;
  margin-bottom:1vmin;
  margin-top: 250px;
}
.dropdownOption {
  font-size:3vmin;
  color:#3D3D3D;
  cursor:pointer;
}

.settingTitle {
  font-size:2vmin;
  color:#727272;
  font-weight:400;
  margin-bottom:1vmin;
}
#colorsWrapper {
  display:flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:1230px) {
  .colorOption {
    width:3.3vmin;
    height:3.3vmin;
  }
}

.pwd {
  width: 240px;
}