@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
#card-Title {
	color: #a3a3a3;
 	font-size:2vmin;
	margin-bottom: -10px;
	margin-top: -5px;
	font-family: Roboto, "sans-serif";
}

#card-Title span{
	color: #a3a3a3;
  	font-weight:bold;
}