.card-container {
	display: flex;
	flex-direction: row-reverse;
}

.choiceCol {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}

.choice-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
}

.buttonRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

h2 {
	padding-right: 10px;
	padding-bottom: 10px;
	width: 180px;
	text-transform: uppercase;
	color: #222;
}