input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
   /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}

/* Default State */
.blah {
   background: green;
   width: 400px;
   height: 100px;
   line-height: 100px;
   color: white;
   text-align: center;
}

/* Toggled State */
input[type=checkbox]:checked ~ div {
   background: red;
}




.active-dx{
    animation-name: foregrounding-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.active-sx{
    animation-name: foregrounding-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-dx{
    animation-name: overshadowing-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-sx{
    animation-name: overshadowing-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

@keyframes overshadowing-dx {
    0%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
    100%{
        z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0;
    }
}

@keyframes overshadowing-sx {
    0%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
    99%{
        opacity: 0.5;
    }
    100%{
        z-index: 1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px) scale(0.5);
        opacity: 0.5;
        display: none;
    }
}

@keyframes foregrounding-dx {
    0%{
        z-index:1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        z-index:2;
        transform: perspective(100px) translate3d(400px, 0px, -30px);
    }
    100%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes foregrounding-sx {
    0%{
        z-index:1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        z-index: 2;
        transform: perspective(100px) translate3d(-400px, 0px, -30px);
    }
    100%{
        z-index: 2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}